* {
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
}

form {
    padding: 20px;
    display: flex;
    justify-content: center;
    background-color: #319bbb;
    position: fixed;
    width: 100%;
    z-index: 9999;
} form p {
    margin-right: 10px;
} form select#type-select {
    margin-left: 10px;
}

input[type="submit"] {
    margin-left: 10px;
}

.films {
    padding-top: 60px;
    background-color: #ececec;
}
.film {
    padding: 10px;
    list-style-type: none;
} .films div.meta, .films div.stats-numbers-row, 
.films div.titlebar, .films div.content-txt {
    text-align: left;
    width: 50%;
    margin: auto;
    justify-content: center;
    margin-bottom: 20px;
}
.films div.meta {
    margin-top: 20px;
}

div.entity-card-list {
    width: 100%;
} div.entity-card-list div {
    width: 65%;
    margin: auto;
    justify-content: center;
}
figure.thumbnail {
    width: 25%;
    position: absolute;
    margin-top: 15px;
}
.meta {
    margin: 10px auto 5px auto;
}
.ovw-synopsis {
    margin: 5px auto 10px auto;
}

.white {
    background-color: #ececec;
}
.gray {
    background-color: #919191;
}

footer {
    padding: 20px 0;
    background-color: #000;
    color: #fff;
    text-align: center;
}